<!--
/**
 * Barzahlen Payment Module for Magento
 *
 * @category    ZerebroInternet
 * @package     ZerebroInternet_Barzahlen
 * @copyright   Copyright (c) 2014 Cash Payment Solutions GmbH (https://www.barzahlen.de)
 * @author      Alexander Diebler
 * @author      Martin Seener
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL-3.0)
 */
 -->
<phpunit colors="true">
  
  <testsuite name="zerebrointernet_barzahlen">
    <directory phpVersion="5.3.1" phpVersionOperator=">=">./</directory>
  </testsuite>
  
  <filter>
    <whitelist>
        <directory suffix=".php">app/code/community/ZerebroInternet/Barzahlen/Block</directory>
        <directory suffix=".php">app/code/community/ZerebroInternet/Barzahlen/controllers</directory>
        <directory suffix=".php">app/code/community/ZerebroInternet/Barzahlen/Helper</directory>
        <directory suffix=".php">app/code/community/ZerebroInternet/Barzahlen/Model</directory>
    </whitelist>
  </filter>
  
  <logging>
    <log type="coverage-html" target="cover" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
  </logging>
  
</phpunit>
